@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
  url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v11-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v11-latin_cyrillic-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v11-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../fonts/pt-sans-v11-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v11-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v11-latin_cyrillic-700.svg#PTSans') format('svg'); /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  background-color: #f2f2f2;
  color: #000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}
button {
  font-family: 'PT Sans';
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-container {
  margin: 0 auto;
  padding-top: 0px;
  width: 1200px;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #fff;
}

.welcome {
  text-align: center;
  background-color: #fff;
  }

.welcome-main {
  padding-top: 76px;
  padding-bottom: 79px;
  background-color: #fff;
  background-image: url("../img/others/intro-mask.svg"),
                    url("../img/background/background-photo.jpg");
  background-position: bottom -2px center, top -83px center;
  background-repeat: no-repeat, no-repeat;
  margin-bottom: 61px;
}

.welcome-icon {
  width: 459px;
  height: 353px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-title {
  font-size: 21px;
  line-height: 26px;
  margin: 0 360px;
  margin-bottom: 30px;
}

.welcome-subtitle {
  font-weight: normal;
  margin-bottom: 53px;
  margin-right: 6px;
}

.interesting-title {
  font-size: 30px;
  line-height: 36px;
}

.interesting {
  text-align: center;
}

.interesting-subtitle {
  font-weight: normal;
}

.dignities {
  background-color: #eeeeee;
  text-align: center;
  display: flex;
}

.dignities-pluses h3 {
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 24px;
}

.dignities-pluses p {
  margin-bottom: 21px;
}

.dignities-pluses {
  text-align: center;
  font-weight: normal;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 46px 60px 38px 60px;

}

.dignities-picture {
  display: inline;
  height: 256px;
}

.dignities-pluses-still {
  text-align: center;
  font-weight: normal;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 46px 41px 38px 42px;;
}

.features {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.features-item {
  width: 400px;
  padding-top: 56px;
  padding-bottom: 83px;
  padding-right: 58px;
  padding-left: 58px;
  text-align: center;
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 76px;
  margin-bottom: 28px;
  font-size: 0;
}

.features-icon::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.features-icon-house::before {
  background-image: url("../img/icons/housing.svg");
}

.features-icon-food::before {
  width: 74px;
  height: 70px;
  background-image: url("../img/icons/foods.svg");
}

.features-icon-gift::before {
  width: 64px;
  height: 76px;
  background-image: url("../img/icons/Souvenirs.svg");
}

.features-item h3 {
  margin: 0 auto;
  font-size: 21px;
  margin-bottom: 24px;
}

.features-item p {
  color: #333333;
  font-weight: normal;
  margin: 0;
}

.gray-box ul {
  display: flex;
  padding: 0;
  margin: 0;
  width: 1200px;
}

.advantages-gray {
  text-align: center;
  color: #000000;
  padding: 0;
  width: 400px;
  background-color: #eeeeee;
}

.advantages-gray h3 {
  font-size: 21px;
  text-align: center;
  padding: 0;
  padding-top: 47px;
  padding-left: 124px;
  padding-right: 124px;
  margin: 0;
  margin-bottom: 24px;
}

.advantages-gray p:first-of-type {
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
}

.advantages-gray p:last-of-type {
  padding: 0;
  padding-left: 71px;
  padding-right: 71px;
  padding-bottom: 59px;
  margin: 0;
}

.search {
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.address {
  display: flex;
  flex-direction: column;
  padding-top: 49px;
}

.address h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;

  margin: 0;
  margin-bottom: 24px;
  margin-right: -2px;
}

.address p {
  line-height: 24px;
  text-align: center;
  padding-left: 381px;
  margin: 0;
  margin-bottom: 133px;
  width: 440px;
}

.map-sedona {
  position: relative;
}

.form {
  margin: 0;
  width: 568px;
  background-color: #ffffff;
  position: absolute;
  top: -86px;
  left: 50%;
  transform: translateX(-50%)
}

.search-form-display {
  width: 100%;
  min-height: 86px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  border: none;
  cursor: pointer;
}

.search-form-display:hover,
.search-form-display:focus {
  background-color: #604e43;
}

.search-form-display:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form input,
.search-form label {
  font: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.check-in-date-icon {
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%);
  cursor: pointer;
}

.check-in-date-icon svg {
  display: block;
  fill: #cacaca;
}

.check-in-date-icon svg:hover {
  fill: #000;
}

.check-in-date-icon svg:active {
  fill: #81b3d2;
}

.check-in-date {
  margin-bottom: 28px;
}

.check-in-date-name {
  width: 100px;
  min-width: 100px;
  padding-right: 11px;
  padding-bottom: 1px;
}

.check-in-date input {
  width: 100%;
  padding-left: 14px;
  padding-top: 6px;
  padding-bottom: 7px;
}

.check-in-date label {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form {
  padding: 55px;
  box-shadow: 0 5px 15px rgba(0,1,1,.2);
}

.search-form-open {
  animation-name: open-search-form;
  animation-duration: 0.2s;
}

@keyframes open-search-form {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0);
  }
}

.number-human {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.number-human-count {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 28px;
}

.inputs-people-count {
  display: flex;
  margin-left: 41px;
}

.inputs-people-count-children {
  margin-left: 26px;
}

 .search-button-operation {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.operation-minus::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  left: 12px;
  top: 18px;
  background-color: #aaaaab;
}

.operation-plus::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  left: 13px;
  top: 18px;
  background-color: #aaaaab;
}

.operation-plus::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  left: 13px;
  top: 18px;
  background-color: #aaaaab;
  transform: rotate(90deg);
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.operation-minus:hover::before,
.operation-minus:focus::before,
.operation-plus:hover::before,
.operation-plus:focus::before,
.operation-plus:focus::after,
.operation-plus:hover::after {
  background-color: #000000;
  outline: none;
}

.operation-minus:active::before,
.operation-plus:active::before,
.operation-plus:active::after {
  background-color: #81b3d2;
}

.search-form input[type="text"] {
  background-color: #f2f2f2;
  border: 0;
}

.search-form input[type="number"] {
  text-align: center;
  background-color: #f2f2f2;
  border: 0;
  width: 38px;
  padding: 0;
}

.search-form input[type="text"]:hover,
.search-form input[type="number"]:hover {
  background-color: #ebebeb;
}

.search-form input[type="text"]:focus,
.search-form input[type="number"]:focus {
  background-color: #ffffff;
}

.search-form input[type="submit"] {
  -webkit-appearance: none;
  font: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  width: 458px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
}

.search-form input[type="submit"]:hover {
  background-color: #669ec0;
  border: none;
}

.search-form input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
  border: none;
}

.search-button {
  width: 100%;
  min-height: 58px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.maps {
  background-image: url("../img/images/map.jpg");
}

.map-frame {
  display: block;
}

.main-filter {
  color: #ffffff;
  text-align: left;
  background-color: #fff;
  background-image: url("../img/background/filter-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 218px;
}

.filter-row {
  display: flex;
  padding: 28px 72px;
}

.filter-title {
 font-size: 16px;
 margin-bottom: 24px;
 font-weight: bold;
}

.filter-title-range {
 margin-bottom: 10px;
}

.checkbox {
  margin-bottom: 25px;
}

.checkbox input[type="checkbox"] {
 appearance: none;
 -webkit-appearance: none;
 -moz-appearance: none;
}

.checkbox label{
  position: relative;
  padding-left: 37px;
  cursor: pointer;
}

.checkbox label::before {
  position: absolute;
  content:"";
  width: 23px;
  height: 23px;
  background-image: url(../img/icons/checkbox-off.svg);
  margin-left: -40px;
}

.checkbox input[type="checkbox"]:checked + label::before {
  width: 25px;
  height: 23px;
  background-image: url(../img/icons/checkbox-on.svg);
}

.checkbox input:disabled + label::before {
  position: absolute;
  content:"";
  width: 23px;
  height: 23px;
  background-image: url(../img/icons/checkbox-off-2.svg);
}

.checkbox input:checked:disabled + label::before {
  position: absolute;
  content:"";
  width: 25px;
  height: 23px;
  background-image: url(../img/icons/checkbox-on-2.svg);
}

input::-ms-check{
  display:none
}

.filter-col-parameters {
  margin-right: 122px;
}

.filter-col-parameters > :last-child {
  margin-bottom: 0;
}

.sort-total {
  font-size: 21px;
  line-height: 26px;
}

.sorting-block {
  height: 86px;
  background-color: #fff;
}

.sorting {
  display: flex;
  padding: 30px 73px 32px 72px;
}

.sorting-list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 5px;
}

.sorting-found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-right: 8px;

}

.sorting li {
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
}

.sorting li:nth-child(2) {
  margin-right: 31px;
}

.sorting li:nth-child(3) {
  margin-right: 35px;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.sorting-item-current a {
  color: #81b3d2;
  border-bottom: none;
}

.sorting-list a:hover {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
  border-bottom: none;
}

.sorting-arrows {
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-left: auto;
}

.sorting-arrow {
  border: none;
  background-color: transparent;
  padding: 0;
}

.sorting-arrow-up {
  margin-right: 11px;
}

.sorting-arrow:hover path {
    fill: #231F20;
}

.sorting-arrow:active path {
    fill: #81b3d2;
}

.filter-range {
  margin-left: auto;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 314px;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  line-height: 31px;
  vertical-align: top;
  cursor: pointer;
}

.min-price,
.max-price {
  font-size: 14px;
  width: 90px;
  padding-left: 65px;
}

.max-price {
  padding-left: 53px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 85px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  width: 136px;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.catalog-list {
  padding: 0;
  margin: 0;
  background-color: #fefefe;
  list-style: none;
}

li {
  list-style: none;
}

.catalog-item {
  padding: 26px 72px 25px;
  border-top: 1px solid #e5e5e5;
}

.catalog-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-row {
  display: flex;
  align-items: flex-start;
}

.catalog-col-content {
  font-size: 14px;
  line-height: 21px;
  margin-left: 31px;
}

.catalog-col-content h4 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}

.catalog-title a:hover {
  background-color: none;
  color: #green;
}

.catalog-title {
  margin-bottom: 6px;
  margin-top: -1px;
}

.catalog-title a:hover {
  color: #81b3d2;
}

.catalog-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-stars img {
  width: 18px;
  height: 17px;
}

.catalog-col-image {
  margin-top: 3px;
}

.catalog-image {
  width: 135px;
}

.catalog-type {
  display: inline-block;
  min-width: 112px;
  margin-bottom: 14px;
}

.catalog-col-rating {
  margin-left: auto;
}

.catalog-stars-remark {
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
  font-weight: normal;
  padding: 3px 15px;
}

.catalog-stars {
  margin-bottom: 41px;
  margin-top: 3px;
  text-align: right;

}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 3px 17px;
  color: #fff;
  text-transform: uppercase;
  background-color: #81b3d2;
  font-weight: bold;
}

.btn-brown {
  background-color: #766357;
}

.btn:hover {
  background-color: #669ec0;
}

.btn-brown:hover {
  background-color: #604e43;
}

.btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn-brown:active {
  background-color: #503e33;
}




